{% layout 'theme' %}

<div class="page-width page-content">
  <h1 class="page-title">Create Account</h1>

  {% form 'create_customer' %}
    {{ form.errors }}
    <label for="FirstName">First Name</label>
    <input type="text" name="customer[first_name]" id="FirstName" required>

    <label for="LastName">Last Name</label>
    <input type="text" name="customer[last_name]" id="LastName" required>

    <label for="Email">Email</label>
    <input type="email" name="customer[email]" id="Email" required>

    <label for="Password">Password</label>
    <input type="password" name="customer[password]" id="Password" required autocomplete="new-password">

    <button type="submit" class="btn">Create</button>
  {% endform %}
</div>
